[submodule "src/--force"]
	path = src/--force
	url = https://git.ias.informatik.tu-darmstadt.de/phri-learning/mild_hri
[submodule "src/mild_hri"]
	path = src/mild_hri
	url = https://git.ias.informatik.tu-darmstadt.de/phri-learning/mild_hri
